{% extends "trqacc/base.html" %}

{% block head %}

<link rel="stylesheet" media="all" type="text/css" href="/site_media/css/ui.dropdownchecklist.css" />
<script type="text/javascript" src="/site_media/js/ui.core-min.js"></script>
<script type="text/javascript" src="/site_media/js/ui.dropdownchecklist-min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
$(".dropdown_qlist").prepend("<option>(all)</option>");
$(".dropdown_qlist").dropdownchecklist({ firstItemChecksAll: true, maxDropHeight: 200, width: 160 });
});
</script> 

{% endblock %}

{% block content %}

<div class="leftmenu">

    <form action="/trqacc/nodes/listing/" method="post">
        {% for field in subcluster2_form %}
            <div style="clear: both"><div style="float: left">{{ field.label }}</div><div style="float: right;">{{ field }}</div></div>
        {% endfor %}

        {% for field in properties2_form %}
            <div style="clear: both"><div style="float: left">{{ field.label }}</div><div style="float: right;">{{ field }}</div></div>
        {% endfor %}

        {% for field in states2_form %}
            <div style="clear: both"><div style="float: left">{{ field.label }}</div><div style="float: right;">{{ field }}</div></div>
        {% endfor %}
        <div style="clear: both; float: right;"><input type="submit" value="Submit" /></div>
    </form>

</div>

<div class="maintext">

    <table cellspacing="0" class="overview">
        <thead>
            <tr>
                <th>Name</th>
                <th>Job Slots</th>
                <th>Properties</th>
                <th>Current States</th>
                <th>Subcluster</th>
            </tr>
        </thead>
        <tbody>
            {% for object in nodes_list %}
            <tr>
                <td class="left"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
                <td>{{ object.np }}</td>
                <td>{{ object.get_nodeproperties }}</td>
                <td>{{ object.get_nodestates }}</td>
                <td>{{ object.subcluster }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
