{% extends "trqacc/base.html" %}

{% block content %}

<div class="leftmenu">

        <form action="" method="post">

        <h3>User selection</h3>
        <table>
        {% for field in user_form.visible_fields %}
        <tr>
            <th>{{ field.label_tag }}</th><td>{{ field }}</td>
        </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Submit" name="submit" />

        </form>

</div>

<div class="maintext">
    {% if user %}
        {% if user.name %}
            <h2>{{ user.name }}@{{ user.server.name }}</h2>
        {% endif %}
        {% if user.dn %}
            <h2>{{ user.dn }}</h2>
        {% endif %}
    {% if summary %}
    <div class="infopanel">
    <h3>Summary</h3>
    <table class="nodejoblist">
    {% for sk,sv in summary %}
        <tr><th>{{sk}}</th><td>{{sv}}</td></tr>
    {% endfor %}
    </table>
    </div>
    {% endif %}
    {% endif %}
<!--
    <div class="infopanel">
    <h3>Currently associated jobs</h3>
    <table class="nodejoblist">
        <tr>
            <th>JobId</th>
            <th>Queue</th>
            <th>CpuTime</th>
            <th>WallTime</th>
        </tr>
    {% for job in jobs %}
        <tr>
            <td><a href="{{ job.get_absolute_url }}">{{ job.jobid }}</a></td>
            <td><a href="{{ job.queue.get_absolute_url }}">{{ job.queue }}</a></td>
            <td>{{ job.cput }}</td>
            <td>{{ job.walltime }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
-->
</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
