<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" media="all" type="text/css" href="/site_media/css/main.css" />
    <link rel="stylesheet" media="all" type="text/css" href="/site_media/css/menu_style.css" />
    <link rel="stylesheet" media="all" type="text/css" href="/site_media/css/tooltip.css" />
    <script type="text/javascript" src="/site_media/js/node_tooltip.js"></script>
    <script type="text/javascript" src="/site_media/js/core.js"></script>
    <script type="text/javascript" src="/site_media/js/DateTimeShortcuts.js"></script>
    <title>{% block title %}Torque overview{% endblock %}</title>
</head>

<body>
    <div class="topmenu">
        {% block mainmenu %}
        <div class="menu bubplastic horizontal aqua">
            <ul>
                <li class="highlight"><span class="menu_r"><a href="/trq/"><span class="menu_ar">Overview</span></a></span></li>
                <li><span class="menu_r"><a href="/trq/nodes/"><span class="menu_ar">Nodes</span></a></span></li>
                <li><span class="menu_r"><a href="/trq/queues/"><span class="menu_ar">Queues</span></a></span></li>
                <li><span class="menu_r"><a href="/trq/users/"><span class="menu_ar">Users</span></a></span></li>
                <li><span class="menu_r"><a href="/trq/jobs/"><span class="menu_ar">Jobs</span></a></span></li>
            </ul>
            <br class="clearit" />
        </div>
        {% endblock mainmenu %}

        <div>
            {% block submenu %}{% endblock %}
        </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
<!-- 
vi:sw=4:ts=4:et
-->
