<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" media="all" type="text/css" href="/site_media/css/layout.css" />
    <link rel="stylesheet" media="all" type="text/css" href="/site_media/css/main.css" />
    <link rel="stylesheet" media="all" type="text/css" href="/site_media/css/menu_style.css" />
    <link rel="stylesheet" media="all" type="text/css" href="/site_media/css/tooltip.css" />
    <link rel="stylesheet" media="all" type="text/css" href="/site_media/css/widgets.css" />
    <script type="text/javascript" src="/site_media/js/sortable.js"></script>
    <script type="text/javascript" src="/site_media/js/node_tooltip.js"></script>
    <script type="text/javascript" src="/site_media/js/core.js"></script>
    <script type="text/javascript" src="/site_media/js/calendar.js"></script>
    <script type="text/javascript" src="/site_media/js/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
    <title>{% block title %}Torque overview{% endblock %}</title>
</head>

<body>
    <div class="page">
    <div class="topmenu">
        {% block mainmenu %}

<ul class="pureCssMenu pureCssMenum">
	<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/">Home</a></li>

    {% if global_config.livestatus %}

	<li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Nodes</span></a>
	<ul class="pureCssMenum">
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/nodes/table/">Overview table</a></li>
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/nodes/listing/">Listing</a></li>
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/nodes/detail/">Detail</a></li>
    </ul>
	</li>

    {% endif %}

	<li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Queues</span></a>
	<ul class="pureCssMenum">
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/queues/table/">Overview table</a></li>
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/queues/stats/">Stats</a></li>
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/queues/detail/">Detail</a></li>
    </ul>
    </li>

	<li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Users</span></a>
	<ul class="pureCssMenum">
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/users/griduser_detail/">Grid user detail</a></li>
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/users/user_detail/">Unix user detail</a></li>
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/users/group_detail/">Unix group detail</a></li>
    </ul>
    </li>

	<li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Jobs</span></a>
	<ul class="pureCssMenum">
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/jobs/completed_listing/">Reports</a></li>
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/jobs/suspicious/">Suspicious</a></li>
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/jobs/detail/">Detail</a></li>
    </ul>
	</li>

<!--
	<li class="pureCssMenui"><a class="pureCssMenui" href="#"><span>Configuration</span></a>
	<ul class="pureCssMenum">
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/config/personal/">Personal</a></li>
		<li class="pureCssMenui"><a class="pureCssMenui" href="/trq/config/global/">Global</a></li>
    </ul>
	</li>
-->
</ul>

        {% endblock mainmenu %}

    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    </div> <!-- class page -->
</body>
</html>
<!-- 
vi:sw=4:ts=4:et
-->
