{% extends "trq/base.html" %}

{% block content %}

<div class="leftmenu">

        <form action="" method="post">

        <h3>Job selection</h3>
        <table>
        {% for field in select_form.visible_fields %}
        <tr>
            <th>{{ field.label_tag }}</th><td>{{ field }}</td>
        </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Submit" name="submit" />

        </form>
</div>

<div class="maintext">
    {% if job %}
    <div class="infopanel">
    <h3>Job: {{ job.jobid }}</h3>
    <table class="jobdetail">
        <tr>
            <th>JobId</th><td>{{ job.jobid }}</a></td>
        </tr>
        <tr>
            <th>Server</th><td>{{ job.server }}</td>
        </tr>
        <tr>
            <th>Owner</th><td><a href="{{ job.job_owner.get_absolute_url }}">{{ job.job_owner }}</a></td>
        </tr>
        <tr>
            <th>Queue</th><td><a href="{{ job.queue.get_absolute_url }}">{{ job.queue }}</a></td>
        </tr>
        <tr>
            <th>Status</th><td>{{ job.job_state }}</td>
        </tr>
        <tr>
            <th>CpuTime</th><td>{{ job.cput }}</td>
        </tr>
        <tr>
            <th>WallTime</th><td>{{ job.walltime }}</td>
        </tr>
        <tr>
            <th>Efficiency</th><td>{{ job.efficiency }} %</td>
        </tr>
        <tr>
            <th>Execution Host</th><td><a href="{{ job.exec_host.get_absolute_url }}">{{ job.exec_host }}</a></td>
        </tr>
        <tr>
            <th>Modification time</th><td>{{ job.mtime }}</td>
        </tr>
        <tr>
            <th>Queue time</th><td>{{ job.qtime }}</td>
        </tr>
        <tr>
            <th>Eligible time</th><td>{{ job.etime }}</td>
        </tr>
        <tr>
            <th>Start time</th><td>{{ job.start_time }}</td>
        </tr>
        <tr>
            <th>Completion time</th><td>{{ job.comp_time }}</td>
        </tr>
    </table>
    </div>
    <div class="infopanel">
    <h3>Accounting events</h3>
    <table class="jobdetail">
        <tr><th>Type</th><th>Time stamp</th></tr>
        {% for ae in accevents %}
        <tr>
            <th>{{ ae.type }}</th><td>{{ ae.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    {% endif %}
</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
