{% extends "trq/base.html" %}

{% block head %}

<!--Load the AJAX API-->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1', {'packages':['piechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);
  
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Task');
    data.addColumn('number', 'Hours per Day');
    data.addRows([
{%for row in result%}['{{row.entity_name}}',{{row.percentage|floatformat:2}}]{%if not forloop.last%},{%endif%}{%endfor%}
    ]);

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('graph2'));
    chart.draw(data, {width: 400, height: 240, is3D: false, title: 'My Daily Activities', colors: ['#000000', '#333333', '#666666', '#999999', '#BBBBBB', '#DDDDDD', '#FFFFFF' ] });
  }
</script>

{% endblock %}

{% block content %}

<div class="leftmenu">

    <form action="" method="post">
        <h3>Fairshare</h3>
        <table>
        {% for field in fs_form %}
        <tr>
            <th>{{ field.label_tag }}</th><td>{{ field }}</td>
        </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Submit" />
    </form>

</div>


<div class="maintext">

{% if result %}
    <div class="infopanel">
    <h3>Table</h3>
    <table class="nodejoblist sortable" id="fairshare_listing">
        <thead>
            <tr>
                <th>Entity</th>
                <th>Walltime</th>
                <th>Share</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td>{{ row.entity_name }}</td>
                <td>{{ row.walltime__str }}</td>
                <td>{{ row.percentage|floatformat:2 }}%</td>
            </tr>
            {% endfor %}
            <tr>
                <td>{{ total.entity_name }}</td>
                <td>{{ total.walltime__str }}</td>
                <td>100.00%</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="infopanel">
    <h3>Graph</h3>
    <img src="http://chart.apis.google.com/chart?chs=480x230&cht=p&chd=t0:{%for row in result%}{{row.percentage|floatformat:2}}{%if not forloop.last%},{%endif%}{%endfor%}&chdl={%for row in result%}{{row.percentage|floatformat:2}}% - {{row.entity_name}}{%if not forloop.last%}|{%endif%}{%endfor%}&chl={%for row in result%}{{row.entity_name}}{%if not forloop.last%}|{%endif%}{%endfor%}" />
    </div>

    <div class="infopanel">
    <h3>Graph II</h3>
    <div id="graph2" />
    </div>

{% endif %}

</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
