{% extends "trq/jobs_base.html" %}

{% block submenu %}

<div class="menu bubplastic horizontal lime">
    <ul>
        <li><span class="menu_r"><a href="/trq/jobs/"><span class="menu_ar">Overview</span></a></span></li>
        <li><span class="menu_r"><a href="/trq/jobs/stats/"><span class="menu_ar">Statistics</span></a></span></li>
        <li class="highlight"><span class="menu_r"><a href="/trq/jobs/suspicious/"><span class="menu_ar">Suspicious jobs</span></a></span></li>
    </ul>
    <br class="clearit" />
</div>

{% endblock submenu %}

{% block content %}

<div class="leftmenu">

    <form action="" method="post">
        <h3>Suspicion type</h3>
        <ol>
        {% for field in suspicion_form %}
            <li class="filterlist">{{ field }} {{ field.label_tag }}</li>
        {% endfor %}
        </ol>
        <input type="submit" value="Submit" />
    </form>

</div>


<div class="maintext">
    <table class="jobsoverview">
        <thead>
            <tr>
                <th>JobId</th>
                <th>Owner</th>
                <th>CpuTime</th>
                <th>WallTime</th>
                <th>State</th>
                <th>Host</th>
            </tr>
        </thead>
        <tbody>
            {% for object in jobs %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.jobid }}</a></td>
                <td><a href="{{ object.job_owner.get_absolute_url }}">{{ object.job_owner }}</a></td>
                <td>{{ object.cput }}</td>
                <td>{{ object.walltime }}</td>
                <td>{{ object.job_state.shortname }}</td>
                <td><a href="{{ object.exec_host.get_absolute_url }}">{{ object.exec_host }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
