{% extends "trq/jobs_base.html" %}

{% block content %}

<div class="leftmenu">

    <form action="" method="post">
        <h3>States</h3>
        <ol>
        {% for field in states_form %}
            <li class="filterlist">{{ field }} {{ field.label_tag }}</li>
        {% endfor %}
        </ol>
        <input type="submit" value="Submit" />
    </form>

</div>


<div class="maintext">
    <table cellspacing="0">
        <thead>
            <tr>
                <th>JobId</th>
                <th>Owner</th>
                <th>CpuTime</th>
                <th>WallTime</th>
                <th>State</th>
                <th>Host</th>
            </tr>
        </thead>
        <tbody>
            {% for object in jobs_page.object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.jobid }}</a></td>
                <td><a href="{{ object.job_owner.get_absolute_url }}">{{ object.job_owner }}</a></td>
                <td>{{ object.cput }}</td>
                <td>{{ object.walltime }}</td>
                <td>{{ object.job_state.shortname }}</td>
                <td><a href="{{ object.exec_host.get_absolute_url }}">{{ object.exec_host }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<span class="paging">
Page: 
{% if jobs_page.has_previous %}
    <a href="/trq/jobs/page/{{ jobs_page.previous_page_number }}">&lt;&lt;</a>
{% endif %}
{{ jobs_page.number }} of {{ paginator.num_pages }}
{% if jobs_page.has_next %}
    <a href="/trq/jobs/page/{{ jobs_page.next_page_number }}">&gt;&gt;</a>
{% endif %}
</span>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
