{% extends "trq/jobs_base.html" %}

{% block submenu %}

<div class="menu bubplastic horizontal lime">
    <ul>
        <li><span class="menu_r"><a href="/trq/jobs/"><span class="menu_ar">Overview</span></a></span></li>
        <li class="highlight"><span class="menu_r"><a href="/trq/jobs/stats/"><span class="menu_ar">Statistics</span></a></span></li>
    </ul>
    <br class="clearit" />
</div>

{% endblock submenu %}

{% block content %}

<form action="" method="post">
<table>
    {% for field in query_form %}
    <tr><td>{{ field.label }}</td><td>{{ field }}</td></tr>
    {% endfor %}
</table>
<input type="submit" value="Submit" />
</form>

<img src="/trq/jobs/graph/?{% for q,val in graph_data.items %}{{ q }}={{ val }}{% if not forloop.last %}&amp;{% endif %}{% endfor %}" />

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
