{% extends "trq/nodes_base.html" %}

{% block submenu %}

<div class="menu bubplastic horizontal lime">
    <ul>
        <li class="highlight"><span class="menu_r"><a href="/trq/nodes/"><span class="menu_ar">Overview</span></a></span></li>
        <li><span class="menu_r"><a href="/trq/nodes/table_list/"><span class="menu_ar">Table listing</span></a></span></li>
    </ul>
    <br class="clearit" />
</div>

{% endblock submenu %}

{% block content %}

<div class="rightmenu">

<table>

<tr><th>State</th></tr>
{% for ns in nodestates %}
<tr><td class="node_state_{{ ns }}">{{ ns }}</td></tr>
{% endfor %}
</table>

</div>

<div class="maintext">

    <div class="subcluster">
    {% for n in nodes %}

        {% ifchanged n.subcluster %}
            {% if not forloop.first %}
                </div><br /><div class="subcluster">
            {% endif %}
        {% endifchanged %}
        <span class="overview_node {% for c in n.state.all %}node_state_{{ c }}{% endfor %}" id="{{ n.pk }}" onmouseover='show_node_tt(event,this)' onmouseout='hide_node_tt(this)'>
        {{ n.name }}
        </span>
    {% endfor %}
    </div>
</div>

    {% for n in nodes %}
    <table class="tooltip" id="node_tt_{{ n.pk }}">
        <tr><td class="tt-topleft"></td><td class="tt-topright"></td></tr>
        <tr>
            <td class="tt-centerleft"></td>
            <td class="tt-centerright">
                <table style="font-size: 6px;">
                    <tr><th>
                    {{ n.name }}
                    </th></tr>
                    {% for j in n.job_set.all %}
                    <tr><td>
                        {{ j.jobid }}
                    </td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr><td class="tt-bottomleft"></td><td class="tt-bottomright"></td></tr>
    </table>
    {% endfor %}


{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
