{% extends "trq/nodes_base.html" %}

{% block submenu %}

<div class="menu bubplastic horizontal lime">
    <ul>
        <li class="highlight"><span class="menu_r"><a href="/trq/nodes/"><span class="menu_ar">Overview</span></a></span></li>
        <li><span class="menu_r"><a href="/trq/nodes/table_list/"><span class="menu_ar">Table listing</span></a></span></li>
    </ul>
    <br class="clearit" />
</div>

{% endblock submenu %}

{% block content %}

<div class="rightmenu">

<table>

<tr><th>State</th></tr>
{% for ns in nodestates %}
<tr><td class="node_state_{{ ns }}">{{ ns }}</td></tr>
{% endfor %}
</table>

</div>

<div class="maintext">

    <div class="subcluster">
    {% for n in nodes %}

        {% ifchanged n.subcluster %}
            {% if not forloop.first %}
                </div><div class="subcluster">
            {% endif %}
        {% endifchanged %}
        <span class="{% for c in n.state.all %}node_state_{{ c }}{% endfor %}">
        {{ n.name }}
        {{ n.running_jobs_count }}
        </span>
    {% endfor %}
    </div>
</div>


{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
