{% extends "trq/nodes_base.html" %}

{% block content %}

<form action="" method="post">
<h3>SubCluster</h3>
<input type="hidden" name="subcluster" id="id_subcluster" value="on" />
{{ subcluster_form.as_ul }}

<h3>Properties</h3>
{{ properties_form.as_ul }}
<input type="submit" value="Submit" />
</form>

<form action="" method="post">
<h3>States</h3>
{{ states_form.as_ul }}
<input type="submit" value="Submit" />
</form>

<p>
{{ request_post }}
</p>

<table cellspacing="0">
<thead>
<tr>
<th>Name</th>
<th>Job Slots</th>
<th>Properties</th>
<th>Current States</th>
<th>Subcluster</th>
</thead>
<tbody>
    {% for object in nodes_list %}
        <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
        <td>{{ object.np }}</td>
        <td>{{ object.get_nodeproperties }}</td>
        <td>{{ object.get_nodestates }}</td>
        <td>{{ object.subcluster }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
