{% extends "trq/base.html" %}

{% block content %}

<div class="leftmenu">

    <form action="/trq/nodes/listing/" method="post">
        <h3>SubCluster</h3>
        <ol>
        {% for field in subcluster_form %}
            <li class="filterlist">{{ field }} {{ field.label_tag }}</li>
        {% endfor %}
        </ol>

        <h3>Properties</h3>
        <ol>
        {% for field in properties_form %}
            <li class="filterlist">{{ field }} {{ field.label_tag }}</li>
        {% endfor %}
        </ol>

        <h3>States</h3>
        <ol>
        {% for field in states_form %}
            <li class="filterlist">{{ field }} {{ field.label_tag }}</li>
        {% endfor %}
        </ol>
        <input type="submit" value="Submit" />
    </form>

</div>

<div class="maintext">

    <table cellspacing="0" class="overview">
        <thead>
            <tr>
                <th>Name</th>
                <th>Job Slots</th>
                <th>Properties</th>
                <th>Current States</th>
                <th>Subcluster</th>
            </tr>
        </thead>
        <tbody>
            {% for object in nodes_list %}
            <tr>
                <td class="left"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
                <td>{{ object.np }}</td>
                <td>{{ object.get_nodeproperties }}</td>
                <td>{{ object.get_nodestates }}</td>
                <td>{{ object.subcluster }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
