{% extends "trq/nodes_base.html" %}

{% block content %}

<div class="maintext">
    <h2 style="background-color: cyan; color: white; text-shadow: black 0.1em 0.1em 0.1em">{{ node.name }}</h2>
    <h3>Currently associated jobs</h3>
    <table class="nodejoblist">
        <tr>
            <th>JobId</th>
            <th>Owner</th>
            <th>CpuTime</th>
            <th>WallTime</th>
            <th>Queue</th>
            <th>Status</th>
        </tr>
    {% for job in running_jobs %}
        <tr>
            <td><a href="{{ job.get_absolute_url }}">{{ job.jobid }}</a></td>
            <td><a href="{{ job.job_owner.absolute_url }}">{{ job.job_owner }}</a></td>
            <td>{{ job.cput }}</td>
            <td>{{ job.walltime }}</td>
            <td><a href="{{ job.queue.get_absolute_url }}">{{ job.queue }}</a></td>
            <td>{{ job.job_state }}</td>
        </tr>
    {% endfor %}
    </table>
    <h3>Completed jobs on this node</h3>
    <table class="nodejoblist">
        <tr>
            <th>JobId</th>
            <th>Owner</th>
            <th>CpuTime</th>
            <th>WallTime</th>
            <th>Queue</th>
            <th>Status</th>
        </tr>
    {% for job in completed_jobs %}
        <tr>
            <td><a href="{{ job.get_absolute_url }}">{{ job.jobid }}</a></td>
            <td><a href="{{ job.job_owner.absolute_url }}">{{ job.job_owner }}</a></td>
            <td>{{ job.cput }}</td>
            <td>{{ job.walltime }}</td>
            <td>{{ job.queue }}</td>
            <td>{{ job.job_state.shortname }}</td>
        </tr>
    {% endfor %}
    </table>
    

</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
