{% extends "trq/base.html" %}

{% block content %}

<div class="leftmenu">

    <table>
    <thead>
        <tr><th>State</th></tr>
    </thead>
    {% for ns in nodestates %}
        <tr><td>{{ ns }}</td><td><span class="node_state_{{ ns }}"><span /></td></tr>
    {% endfor %}
    </table>

</div>

<div class="maintext">
    {% for sc_node in sc_nodes %}
    <div class="subclusters">
        <table class="subcluster">
        <tr><th colspan="{{ colswidth }}">{{ sc_node.subcluster }}</th></tr>
        {% for row in sc_node.rows %}
            <tr>
            {% for n in row %}
                <td class="overview_node" id="{{ n.pk }}">
                    <div style="position: relative">
                        <a href="{{ n.get_absolute_url }}">{{ n.name }}</a>{% for c in n.state.all %}<span class="node_state_{{ c }}" title="{{ c }}"></span>{% endfor %}
                    </div>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endfor %}

</div>


{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
