{% extends "trq/base.html" %}

{% block content %}

<div class="maintext">

    <div class="infopanel">


<h3>Database content</h3>
<table>
{% for item in info %}
<tr>
<td class="coldesc"><a href="{{ item.url }}">{{ item.name }}s</a></td>
<td class="colnumber">{{ item.count }}</a></td>
</tr>
{% endfor %}

</table>
<a href="">more ...</a>
        
    </div>

    <div class="infopanel">

<h3>Queues</h3>
<table class="overview">
<tr><th>&nbsp;</th><th>Q</th><th>R</th><th>C (24h)</th><th>C (week)</th></tr>
{% for q in queues  %}
<tr>
<td class="coldesc">{{ q.name }}</td>
<td class="colnumber">{{ q.Q }}</a></td>
<td class="colnumber">{{ q.R }}</a></td>
<td class="colnumber">{{ q.C_in_last_24h }}</a></td>
<td class="colnumber">{{ q.C_in_last_week }}</a></td>
</tr>
{% endfor %}

</table>
<a href="">more ...</a>
        
    </div>

</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
