{% extends "trq/queues_base.html" %}

{% block submenu %}

<div class="menu bubplastic horizontal lime">
    <ul>
        <li><span class="menu_r"><a href="/trq/queues/"><span class="menu_ar">Overview</span></a></span></li>
        <li class="highlight"><span class="menu_r"><a href="/trq/queues/stats/"><span class="menu_ar">Graphs</span></a></span></li>
    </ul>
    <br class="clearit" />
</div>


{% endblock submenu %}

{% block content %}
<div class="leftmenu">

    <div class="statform">
        <form action="" method="post">
        <table>
            {% for field in stat_form %}
                <tr><th>{{ field.label }}:</th><td>{{ field }}</td></tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit" />
        </form>
    </div>
</div>


<div class="maintext">
{% if graph_data %}
<img src="/trq/queues/graph/?{% for q,val in graph_data.items %}{{ q }}={{ val }}{% if not forloop.last %}&amp;{% endif %}{% endfor %}" />
{% else %}
Choose your filter in the left menu.
{% endif %}
</div>
{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
