{% extends "trq/base.html" %}

{% block content %}
<div class="leftmenu">

    <div class="statform">
        <form action="" method="post">
        <table>
            {% for field in stat_form %}
                <tr><th>{{ field.label }}:</th><td style="text-align: left">{{ field }}</td></tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit" />
        </form>
    </div>
</div>


<div class="maintext">
{% if graph_data %}
<img class="largeimage" width="600" height="600" src="/trq/queues/graph/?{% for q,val in graph_data.items %}{{ q }}={{ val }}{% if not forloop.last %}&amp;{% endif %}{% endfor %}" />
{% else %}
Choose your filter in the left menu.
{% endif %}
</div>
{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
