{% extends "trq/base.html" %}

{% block content %}

<div class="maintext">
    <table class="overview">
        <thead>
            <tr>
                <th>Name</th>
                {% for js in job_states %}
                <th>{{ js.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object in queues_list %}
            <tr>
                <td class="left">
                    <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                </td>
                <!-- This is not very good as we relly on ordering -->
                {% for key,val in object.get_queue_numbers %}
                <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
