{% extends "trq/users_base.html" %}

{% block content %}

<div class="maintext">
    <h2 style="background-color: green; color: white; text-shadow: black 0.1em 0.1em 0.1em">User: {{ user.name }}</h2>
    <h3>Currently associated jobs</h3>
    <table class="nodejoblist">
        <tr>
            <th>JobId</th>
            <th>CpuTime</th>
            <th>WallTime</th>
            <th>Queue</th>
        </tr>
    {% for job in jobs %}
        <tr>
            <td><a href="{{ job.get_absolute_url }}">{{ job.jobid }}</a></td>
            <td>{{ job.cput }}</td>
            <td>{{ job.walltime }}</td>
            <td>{{ job.queue }}</td>
        </tr>
    {% endfor %}
    </table>

</div>

{% endblock content %}

<!-- 
vi:sw=4:ts=4:et
-->
