body {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	background-attachment: scroll;

	font-family:Arial,Verdana,Geneva,Helvetica,sans-serif;
	font-size:10pt;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-align:left;
}

div.page, div.topmenu, div.footer
{
	width: 1000px;
}

div.page {
	margin: auto;
}

div.infopanel {
/*	float: left;*/
	block: inline;
	margin-right:15px;
	padding:5px;
	background: transparent url(../images/green_gradient.png) repeat-x scroll 0 0;
}


div.infopanel td.coldesc {
	text-align: left;
}

div.infopanel td.colnumber {
	text-align: right;
}

div.infopanel h3 {
	border-bottom:1px dotted #AAAAAA;
	font-size:15px;
	font-weight:bold;
}

div.footer {
	position:fixed;
	bottom:0; /* stick to bottom */
	background:#ddd;
	border-top:2px dotted gray;

	font-size:8pt;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-align:right;
	color: #999;
	height: 1.5em;
}
div.footer a {
	text-decoration: underline;
	color: #999;
}

div.push {
	height: 1.5em;
}
