div.topmenu {
/*	position: fixed;*/
}

div.leftmenu {
        float: left;
/*	position: fixed;*/
        border: 1px dotted;
	background-color: #55BB55;
}

div.leftmenu h3 {
	margin: 0px;
	padding: 0px;
}

div.rightmenu {
        float: right;
        border: 1px dotted;
}

div.maintext {
        float: center;
        text-align: center;
	width: 800px;
        margin: 0px auto;
        padding-bottom:10px;
}

div.subcluster {
	float: top; 
	text-align: left;
}

ol {
	margin: 0px;
	padding: 0px;
}

li.filterlist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}


table {
	border-collapse:collapse;
}

table.jobsoverview th {
	text-align: center;
	background-color: #AAAAFF;
	border: 1px;
	border-color: #999999;
	border-style: solid;
}
table.jobsoverview td {
	text-align: right;
	border: 1px;
	border-color: #AAAAAA;
	border-style: solid;
	padding-left: 2px;
	padding-right: 2px;
}

table.nodejoblist th {
	text-align: center;
	background-color: #AAAAFF;
	border: 1px;
	border-color: #999999;
	border-style: solid;
}
table.nodejoblist td {
	text-align: right;
	border: 1px;
	border-color: #AAAAAA;
	border-style: solid;
}

table.jobdetail {
	border-collapse: collapse;
	border: 1px;
	border-color: #AAAACC;
	border-style: solid;
}

table.jobdetail th {
	text-align: left;
	border: 1px;
	border-color: #AAAACC;
	border-style: solid;
}
table.jobdetail td {
	text-align: right;
	border: 1px;
	border-color: #AAAACC;
	border-style: solid;
}


.node_state_down {
background-color: #cc0000;
}

.node_state_offline {
background-color: #ffff00;
color: black;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.node_state_offlinejobs {
background-color: #ff9900;
}

.node_state_free {
background-color: #00FF00;
}

.node_state_partfull {
background-color: #4499ff;
}

.node_state_job-exclusive {
background-color: #000099;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.node_state_unknown {
background-color: #9900bb;
}

span.overview_node {
text-align: center;
width: 100px;
display: inline-block;
margin: 0px;
padding: 0px;
}

a:hover {
color: #003366;
}

a {
text-decoration: none;
}

a img {
text-decoration: none;
border-top-color: currentColor;
border-left-color: currentColor;
border-right-color: currentColor;
border-bottom-color: currentColor;
border-top-width: medium;
border-left-width: medium;
border-right-width: medium;
border-bottom-width: medium;
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom-style: none;
}
