html {
	overflow-y: scroll;
}

a {
color: blue;
/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
*/
}

a:hover {
color: #003366;
}

a {
text-decoration: none;
}

a img {
text-decoration: none;
border-top-color: currentColor;
border-left-color: currentColor;
border-right-color: currentColor;
border-bottom-color: currentColor;
border-top-width: medium;
border-left-width: medium;
border-right-width: medium;
border-bottom-width: medium;
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom-style: none;
}


div.topmenu {
/*	position: fixed;*/
}

div.leftmenu {
        float: left;
	block: inline;
	font-size: 10px;
	width: 20%;
/*	position: fixed;*/
        border: 1px dotted;
        margin: 0px auto 1.5em;
/*	background-color: #55BB55;*/
}

div.leftmenu h3 {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
div.leftmenu th {
	text-align: left;
}
div.leftmenu td {
	text-align: right;
}
div.leftmenu input {
	font-size: 9px;
	width: 85px;
}
div.leftmenu select {
	font-size: 9px;
	width: 90px;
}
div.leftmenu input.vDateField {
	width: 60px;
}

div.rightmenu {
        float: right;
        border: 1px dotted;
}

div.maintext {
        float: right;
	block: inline;
        text-align: center;
	width: 79%;
        margin: 0px auto 1.5em;
        padding-bottom:10px;
}
div.maintextwide {
        float: right;
	block: inline;
        text-align: center;
	width: 100%;
        margin: 0px auto;
        padding-bottom:10px;
}

ol {
	margin: 0px;
	padding: 0px;
}

li.filterlist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}


table {
	border-collapse:collapse;
}

table.overview th {
	text-align: center;
	background-color: #AAAAFF;
	border: 1px;
	border-color: #999999;
	border-style: solid;
}
table.overview td {
	text-align: right;
	border: 1px;
	border-color: #AAAAAA;
	border-style: solid;
	padding-left: 2px;
	padding-right: 2px;
}
table.overview td.left {
	text-align: left;
}

table.nodejoblist {
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 0.9em;
}
table.nodejoblist th {
	text-align: center;
	background-color: #AAAAFF;
	border: 1px;
	border-color: #999999;
	border-style: solid;
}

table.nodejoblist th a {
	color: #000000;
}

table.nodejoblist tr.even {
	background-color: #FFFFFF;
}

table.nodejoblist tr.odd {
	background-color: #DDDDDD;
}

table.nodejoblist tr:hover {
	background-color: #aaaaaa;
}

table.nodejoblist td {
	text-align: right;
	border: 1px;
	border-color: #AAAAAA;
	border-style: solid;
	padding: 0 5px;
}

table.jobdetail {
	border-collapse: collapse;
	border: 1px;
	border-color: #AAAACC;
	border-style: solid;
}

table.jobdetail th {
	text-align: left;
	border: 1px;
	border-color: #AAAACC;
	border-style: solid;
}
table.jobdetail td {
	text-align: right;
	border: 1px;
	border-color: #AAAACC;
	border-style: solid;
}


span.node_state_down {
background-image: url('/site_media/images/node_state_down.png');
display: inline-block;
width: 16px;
height: 16px;
float: right;
}

span.node_state_offline {
color: black;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
background-image: url('/site_media/images/node_state_offline.png');
display: inline-block;
width: 16px;
height: 16px;
float: right;
}

span.node_state_offlinejobs {
background-color: #ff9900;
}

span.node_state_free {
background-image: url('/site_media/images/node_state_free.png');
display: inline-block;
width: 16px;
height: 16px;
float: right;
}

span.node_state_partfull {
background-color: #4499ff;
}

span.node_state_job-exclusive {
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
background-image: url('/site_media/images/node_state_job-exclusive.png');
display: inline-block;
width: 16px;
height: 16px;
float: right;
}

.node_state_unknown {
background-color: #9900bb;
}

div.subclusters {
float: top; 
text-align: left;
}

table.subcluster {
	border: solid 1px;
	margin-bottom: 5px;
	width: 100%;
}

table.subcluster tbody {
	background-color: #DDDDDD;
}

table.subcluster th {
	text-align: center;
	background-color: #CCCCCC;
}

table.subcluster thead.uncollapsed th {
	background-image: url("/site_media/images/bullet_arrow_down.png");
	background-repeat: no-repeat;
}
table.subcluster thead.collapsed th {
	background-image: url("/site_media/images/bullet_arrow_right.png");
	background-repeat: no-repeat;
}

table.subcluster td {
	font-size: 0.8em;
}

span.overview_node {
text-align: center;
width: 130px;
display: inline-block;
margin: 0px -2px 0px 0px;
padding: 0px;
border: solid 1px;
border-collapse:collapse;
}

span.overview_node_job {
height: 100%; 
display: inline-block; 
position: absolute; 
background-color: #aaaaaa;
z-index: -1;
}


td.overview_node {
text-align: center;
border: solid 1px;
border-collapse:collapse;
width: 30em;
}

td.overview_node a {
color: inherit;
float:left; 
padding-left:15px;
}

div.statform th {
text-align: left;
}
div.statform td {
text-align: right;
}

img.largeimage {
background: transparent url(../images/loading.gif) top left no-repeat;
}


