div.leftmenu {
        float: left;
        border: 1px dotted;
	background-color: #55BB55;
}

div.leftmenu h3 {
	margin: 0px;
	padding: 0px;
}

div.rightmenu {
        float: right;
        border: 1px dotted;
}

div.maintext {
        float: center;
        text-align: center;
	width: 800px;
        margin: 0px auto;
        padding-bottom:10px;
}

ol {
	margin: 0px;
	padding: 0px;
}

li.filterlist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
