.x-node-overview .node_overview{
    float: left;
    width: 15px;
    height: 15px;
    margin: 2px;
}

.x-node-overview .node_overview span{
    display: block;
    overflow: hidden;
    text-align: center;
}


.x-node-overview .job-exclusive {
    background-color: blue;
}

.x-node-overview .down {
    background-color: red;
}

.x-node-overview .free {
    background-color: #00FF00;
}
	
.x-node-overview .offline {
    background-color: #AA0000;
    border: 2px dotted black;
}

/*
.x-node-overview .offline:before {
    content: "!";
}
*/
